/# h1{
    font-family: sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    background-image: url(imagens/bg-3.jpg);
    padding-top: 40%;
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom: 40%;
    margin-top: 0mm;
    
} #/